@import url('https://fonts.googleapis.com/css?family=Amatic+SC');


body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Amatic SC",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: black;
    background-color: #D7CCC8;
    
  

}

.main_img{
    background-image: url('../img/zefir.jpg');
    min-height: 100%;
}
.main_img{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}


/*Section*/
.section {

}

  
  nav {
    height: 80px;
    width: 100%;
    background-color:#795548;
    color: #eee;
    position: relative;
  }
  nav ul {
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline;
    float: left;
  }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
  }
  nav li:hover {
    background-color: #444;
  }
  nav a#openup {
    display: none;
  }
  
  @media screen and (max-width: 480px) {
    
  
    nav {
      height: auto;
      border-bottom: 0;
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav li {
      width: 100%;
      float: left;
      position: relative;
    }
    nav a {
      text-align: left;
      
      width: 100%;
      text-indent: 25px;
      background:#795548;
      border-bottom: 1px solid #555;
    }
    nav a:hover {
      background: #444;
    }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px;
    }
    nav a#openup {
      display: block;
      background-color:#795548;
      width: 100%;
      position: relative;
    }
  }
  .cf:before, .cf:after {
    content: "";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    zoom: 1;
  }

.contact
{
  background-color: #A1887F;
}
.about_us{
  background-color: #BCAAA4
  
  
 /* #4E342E;   footer */
}



  